section {
  &.wrap {
    border: 2px solid;
    width: 100%;
    max-width: 192rem;
    padding: 0 3rem;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: row;
  }

  &.widget-container {
    border: 1px solid;
    &.small {
      width: 33%;
    }

    &.half {
      width: 50%;
      height: 20rem;

      //todo
      &.todo {
        max-height: 20rem;
        font-size: 1.1rem;
        display: grid;
        grid-template-rows: auto 3fr 1fr;
        ul {
          height: 100%;
          max-height: 15rem;
          overflow-y: auto;
          li {
            background: #333;
            color: #fff;
            width: 100%;
            padding: 1rem 4rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            label {
              font-size: 1.2rem;
            }
          }
        }
        form {
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 2px solid;
          input[type="text"] {
            border: 1px solid;
            height: calc(90% - 1rem);
          }
        }
      }

      &.weather {
        width: 45%;
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        h1 {
          font-size: 2.4rem;
          padding-top: 2rem;
          height: 100%;
        }

        p {
          height: 100%;
          &.temp {
            font-size: 2rem;
          }
          &.currSky {
            font-size: 1.6rem;
          }
        }
      }
    }

    &.wide {
      width: 100%;
    }
  }

  &.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
